:root {
    /* --background-color: #0f101b;
    --secondary-color: #22242f;
    --headline-color: #fafaff;
    --font-color: #a5a6b1; */
    --background-color: #edeeef;
    --secondary-color: #fafaff;
    --headline-color: #00000f;
    --font-color: #55555f;
    --primary-color: #0672f1;
    --bg-light: #fafaff;
    --bg-second: #f7f7f7;
    --primary-color: #fd9d49;
    --grey-color: #b0b0b0;
    --icon-color: #ffe0c4;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: 0;
    scroll-behavior: smooth;
    overscroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.6;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Inter", Sans-Serif;
    font-size: 1rem;
}

.wrapper {
    position: relative;
}

.container {
    padding: 0 1.5rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: navbarAnimate 0.5s ease-in-out forwards;
    box-shadow: 0 0 10px rgb(0, 0, 0, .05);
    background-color: var(--secondary-color);
    /* border-radius: 0 0 10px 10px; */
}

.navbar-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;
    height: 65px;
    /* background-color: var(--secondary-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-container-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* pointer-events: none; */
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--headline-color);
    margin-left: 1rem;
    cursor: pointer;
}

.navbar-toggle {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-toggle .icon {
    display: block;
    width: 20px;
    background-color: var(--headline-color);
    padding: 0.05rem 0;
    border-radius: 5rem;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.navbar-toggle .icon:nth-child(1) {
    animation: iconOneBefore 0.5s ease-in-out forwards;
}

.navbar-toggle .icon:nth-child(2) {
    animation: iconTwoBefore 0.5s ease-in-out forwards;
}

.navbar-toggle.focus .icon:nth-child(1) {
    animation-name: iconOneAfter;
}

.navbar-toggle.focus .icon:nth-child(2) {
    animation-name: iconTwoAfter;
}

.navbar-toggle.focus .icon:nth-child(3) {
    width: 0;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }
    .navbar-menu ul {
        transform: translateX(300px);
        transition: all 0.5s ease-in-out;
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        background-color: var(--secondary-color);
        height: 100vh;
        width: 100%;
        max-width: 225px;
        list-style-type: none;
    }
    .navbar-menu ul li a {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 0.65rem 1.5rem;
        color: var(--font-color);
    }
    .navbar-menu ul li a:hover,
    .navbar-menu ul li a:focus {
        color: var(--headline-color);
    }
    .navbar-menu ul li.navbar-menu-close {
        display: block;
        margin: 0.75rem 1.5rem;
        width: 40px;
        height: 40px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--headline-color);
        border: 0.075rem solid var(--font-color);
        text-align: left;
        font-size: 1.25rem;
        /* vertical-align: middle; */
    }
    .navbar-menu.open {
        opacity: 1;
        visibility: visible;
    }
    .navbar-menu.open ul {
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {
    .navbar-container {
        justify-content: flex-start;
    }
    .navbar-container-right {
        justify-content: flex-start;
        padding-left: 1.5rem;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .navbar-menu ul li.navbar-menu-close {
        display: none;
    }
    .navbar-menu ul li a {
        font-weight: 500;
        color: var(--font-color);
        text-decoration: none;
        padding: 1.275rem 0.75rem;
        transition: all 0.25s ease-in-out;
    }
    .navbar-menu ul li a:hover,
    .navbar-menu ul li a:focus {
        color: var(--headline-color);
        border-bottom: 0.15rem solid var(--primary-color);
    }
}

@keyframes navbarAnimate {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes iconOneBefore {
    0%,
    33.333333% {
        transform: translateY(0) rotate(45deg);
    }
    33.333333%,
    66.666666% {
        transform: translateY(0) rotate(0deg);
    }
    66.666666%,
    100% {
        transform: translateY(6.5px) rotate(0deg);
    }
}

@keyframes iconOneAfter {
    0%,
    33.333333% {
        transform: translateY(6.5px) rotate(0deg);
    }
    33.333333%,
    66.666666% {
        transform: translateY(0) rotate(0deg);
    }
    66.666666%,
    100% {
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes iconTwoBefore {
    0%,
    33.333333% {
        transform: translateY(0) rotate(-45deg);
    }
    33.333333%,
    66.666666% {
        transform: translateY(0) rotate(0deg);
    }
    66.666666%,
    100% {
        transform: translateY(-6.5px) rotate(0deg);
    }
}

@keyframes iconTwoAfter {
    0%,
    33.333333% {
        transform: translateY(-6.5px) rotate(0deg);
    }
    33.333333%,
    66.666666% {
        transform: translateY(0) rotate(0deg);
    }
    66.666666%,
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.col-3 {
    width: 30%;
}

.col-9 {
    width: 70%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    /* border: 1px solid red; */
}

.body-section {
    padding: 10px;
    margin-top: 80px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


/* Clear floats after the columns */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-icon>.icon {
    border-radius: 20px;
}


/*CARD*/

.card {
    overflow: hidden;
    background-color: var(--bg-light);
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    margin: 0px 90px;
}

.card-logo {
    overflow: hidden;
    background-color: var(--bg-light);
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    margin-left: 90px;
}

.card-content {
    overflow: hidden;
    background-color: var(--bg-light);
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
    margin-right: 90px;
}

.card-body {
    padding: 20px;
}

.card-body-left {
    padding: 20px;
}

.card-heading {
    padding: 20px;
    border-bottom: 1px solid var(--bg-second);
}


/*END CARD*/

.h3 {
    font-size: 24px;
    font-weight: bold;
}

.h4 {
    font-size: 22px;
    font-weight: bold;
}

.text-primary {
    color: var(--primary-color);
}

.icon-circle {
    background-color: var(--icon-color);
    border-radius: 10%;
    padding: 5px 10px 5px 10px;
}

.subtitle {
    font-weight: 200;
    font-size: 12px;
}

.text-muted {
    color: var(--grey-color);
}

@media screen and (max-width: 768px) {
    .body-section {
        /* display: grid;
        grid-template-columns: 100%;*/
        padding-top: 0px;
    }
    .row {
        width: 100%;
        padding: 0;
    }
    .col-3,
    .col-9,
    .col-12 {
        width: 100%;
        margin: 0;
    }
    .card {
        margin: 0;
    }
    .card-content {
        margin: 0;
    }
    .card-logo {
        margin: 0;
    }
    .card-body,
    .card-body-left,
    .card-content,
    .card-logo,
    .card-heading,
    .card {
        text-align: center;
        padding: 1.5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .body-section {
        max-width: 1000px;
        padding: 0;
    }
    .row {
        padding: 0;
    }
    .card-body,
    .card-body-left,
    .card-content,
    .card-logo,
    .card-heading,
    .card {
        margin: 0;
    }
}


/* Team Section */

.team-container {
    padding: 1.5rem;
}

.team-container>.container {
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width: 985px;
    text-align: center;
    padding: 2rem 1.5rem;
}

.team-container>.container>.grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-gap: 1rem;
    padding: 1rem 0;
}

.team-container>.container>.grid>.grid-item {
    padding: 2rem .5rem;
    width: 100%;
    border-radius: 10px;
    background-color: var(--background-color);
}

.team-container>.container>.grid>.grid-item>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.team-container>.container>.grid>.grid-item>.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.team-container>.container>.grid>.grid-item>.flex>.flex-icon {
    background-color: rgba(253, 157, 73, .25);
    color: var(--primary-color);
    padding: .5rem;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    margin: 0 .25rem;
}

@media screen and (min-width: 768px) {
    .team-container>.container>.grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .team-container>.container>.grid>.grid-item {
        max-width: 32%;
    }
}

.footer-container {
    background-color: var(--bg-light);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: relative;
    padding: 0 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
}

.copyright {
    width: 100%;
    padding: 1rem 1rem;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: .9rem;
}

.progate {
    font-family: arial;
}

td {
    padding: 5px;
}

table {
    /* margin-left: 40px; */
    margin-top: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
    padding-top: 10px;
}

.logo a:hover {
    opacity: 0.5;
}

.logo {
    display: inline-block;
}

.floatright {
    padding: 2rem 0;
}

@media screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 100%;
        margin: 0 1.5rem;
    }
    .floatleft {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        max-width: 985px;
        margin: 0 auto;
    }
    .floatleft {
        padding: 2rem 0;
    }
    .floatright {
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .floatleft {
        overflow-x: scroll;
    }
}